.inner-container {
    max-width: 960px !important;
}

.img-size {
    max-width: 300px;
    margin-top: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

h3 {
    margin-top: 30px;
}

.prop-list-text {
    margin-left: 328px;
    padding-top: 5px;
}

.col {
    padding: .375rem .75rem;
}

.footer {
    margin-top: 50px;
    background-color: #ccc;
    height: 75px;
    display: flex;
    align-items: center;
}

.foot {
    text-align: center;
    margin-top: 18px;
}


