.inner-container {
    max-width: 960px !important;
}

.img-size {
    max-width: 300px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

.prop-list-text {
    margin-left: 328px;
}

.col {
    padding: .375rem .75rem;
}

